<!-- 
  Ürün Listesi Ana Konteyneri
  - max-w-7xl: Maksimum genişliği sınırlar.
  - mx-auto: Sayfada yatayda ortalar.
  - px-4 sm:px-6 lg:px-8: Farklı ekran boyutları için yatayda iç boşluk (padding).
  - py-8: Dikeyde iç boşluk.
-->
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
  <!-- Sinyalden gelen veriyi kontrol et -->
  @if(productResponse()) {

  <!-- 
    Ürünlerin listelendiği responsive grid alanı.
    productResponse().products.length > 0 kontrolü,
    sadece ürün varsa grid'i oluşturmamızı sağlar.
  -->
  @if (productResponse()!.products.length > 0) {
  <div
    class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 lg:gap-8"
  >
    <!-- 
      Ürünler üzerinde döngü
      Her bir 'app-product-card' otomatik olarak bir grid hücresine yerleşir.
      İçerideki ekstra 'div' kaldırıldı, artık gerek yok.
    -->
    @for(product of productResponse()!.products; track product.id) {
    <app-product-card [product]="product"></app-product-card>
    }
  </div>
  } @else {
  <!-- 
    @empty (Boş) Durumu
    Ürün dizisi geldiyse ama boşsa bu blok çalışır.
  -->
  <div
    class="w-full h-64 flex items-center justify-center text-gray-500 text-xl font-medium"
  >
    Herhangi bir veri bulunamadı..
  </div>
  } } @else {
  <!-- 
    @else (Yükleniyor) Durumu
    Sinyal 'undefined' veya 'null' ise bu blok çalışır.
  -->
  <div
    class="w-full h-64 flex items-center justify-center text-gray-500 text-xl font-medium"
  >
    Yükleniyor..
  </div>
  }
</div>

<!--track -> listeyi benzersiz özelliği üzerindne takip eder
@for (product of products; track product.id) { 
    <app-product-card [product] = "product"></app-product-card>
}
@empty {
    <div>Ürün bulunamadı.</div>
}-->

<!--if varsa else olması -> best practise-->

<!--track kullanılmazsa: Angular, listedeki tüm öğeleri yenilenmiş kabul eder ve DOM'daki tüm ilgili HTML elementlerini yeniden oluşturur.

track product.id kullanılırsa: Angular, eski listedeki id'leri yeni listedeki id'lerle karşılaştırır. Yalnızca ID'si değişen, silinen veya 
eklenen öğeleri günceller. Aynı ID'ye sahip öğeleri ise yerinde bırakır, bu da performansı büyük ölçüde artırır.-->