<div style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center;">
    @if (productResponse()) {
        @for (product of productResponse()!.products; track product.id) {
            <div style="flex: 0 0 calc(33.33% - 20px); box-sizing: border-box; display: flex;">
                <app-product-card [product]="product"></app-product-card>
            </div>
        }
        @empty {
            <div>Herhangi bir verş bulunamadı.</div>
        }
    }
    @else {
        <div>Yükleniyor..</div>
    }
</div>

<!--track -> listeyi benzersiz özelliği üzerindne takip eder
@for (product of products; track product.id) { 
    <app-product-card [product] = "product"></app-product-card>
}
@empty {
    <div>Ürün bulunamadı.</div>
}-->

<!--if varsa else olması -> best practise-->

<!--track kullanılmazsa: Angular, listedeki tüm öğeleri yenilenmiş kabul eder ve DOM'daki tüm ilgili HTML elementlerini yeniden oluşturur.

track product.id kullanılırsa: Angular, eski listedeki id'leri yeni listedeki id'lerle karşılaştırır. Yalnızca ID'si değişen, silinen veya 
eklenen öğeleri günceller. Aynı ID'ye sahip öğeleri ise yerinde bırakır, bu da performansı büyük ölçüde artırır.-->